#description{
    position: relative;
    display: block;
    margin: auto;
    font-size: 22;
    text-align: center;
}

#service-container .row{
    width: 100%;
}

.services{
    text-align: center;
    padding: 10px;
    border:2px solid transparent;
}

.services:hover{
    border: 2px dashed black;
}

#services-content{
    margin: auto;
}

#description blockquote{
    margin: auto;
}

#services-content{
    text-align: center;
}

#map{
    height: 30vh;
    width: 100%;
}

#form-area{
    text-align: center;
}

#footer-col{
    text-align: center;
}